html, body {
    background: linear-gradient(to right, #aec6eb, #e96b6b);
    height: 100%;
    margin: 0;
    padding: 0;
}
 
body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
  
.footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
 

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
  
.buttons {
    display: flex;
    gap: 20px;
}

.buttons button{
    height: 20vh;
    width: 20vh;
    font-size: 3vh;
    cursor: pointer;
    background-color: #333;
    color: white;
}

.score{
    display: flex;
    min-width: 30vh;
    justify-content: space-around;
}


.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
}
.restart-button {
    font-size: 30px;
    cursor: pointer;
    background-color: #333;
    color: white;
}
